@page
@model makeNewReservation
@{
}

    <h1 class="display-4">Welcome</h1>
    <h3>Click to Start your reservation</h3>
    <button class="btn btn-default">
        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Booking</a>
    </button>


